[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple/"}
djangorestframework = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple/"}
django-filter = {version = "*", index = "https://mirrors.aliyun.com/pypi/simple/"}

[dev-packages]

[requires]
python_version = "3.8"
